:root{
  --primary:#00ADB5;
  --background:#222831;
  --secondary:#393E46;
  --text:#EEEEEE;
  --textSecondary:rgba(255, 255, 255, 0.592);
  --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
*{
  margin:0 ;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color:var(--background);
  color: var(--text)

}
/* primary text */
.tprimary{
  color: var(--primary);
}
.tsecondary{
  color:var(--textSecondary);
}
/* primary btn */
.btn-primary{
  border-radius: 50px;
  background-color:var(--primary) !important;
  border:2px solid transparent !important;
  padding:10px 30px !important;
  font-weight:bold;
}
.btn-primary:hover{
  background-color:#00acb520 !important;
  border:2px solid var(--primary) !important;
}
.btn-primary:focus{
  box-shadow: none !important;
}
.btn-primary:active{
 background-color:var(--secondary) !important;
}
/* secondary btn */
.btnSecondary{
  background-color:transparent !important;
  border:2px solid var(--primary) !important;
}
.btnSecondary:hover{
  background-color:var(--primary) !important;
  color:var(--text) !important;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary) !important; 
  border-radius: 20px;

}

p{
  font-size: 20px;
}
/* form */
.form-control:focus{
  box-shadow: none !important;
  border:1px solid var(--primary) !important;
}
/* flex center */
.flexc{
  display: flex;
  align-items: center;
  justify-content: center;
}

